# Compiled class file
*.class

# Log file
*.log

# Package Files
*.jar
*.war
*.ear
*.zip
*.tar.gz
*.rar

# Eclipse project files
bin/
tmp/
*.tmp
*.bak
*.swp
*~.nib
local.properties
.metadata
.settings/
.loadpath
.recommenders